.article-details-control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.article-details-content {
  p {
    text-indent: 2em;
  }
}
.homeDetails {
  width: 548px;
  float: right;
  background-color: #fff;
  padding: 10px 20px;
}
.article-details1 {
  padding: 10px;
  display: flex;
  align-items: center;
  &-avatar {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
  }
  &-title {
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
  }
  &-time {
    margin-left: 10px;
    color: #ccc;
  }
}
